<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danzhao.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.danzhao.bean.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPwd" jdbcType="VARCHAR" property="userpwd" />
    <result column="userPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="userEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="userRole" jdbcType="INTEGER" property="userrole" />
    <result column="deptid" jdbcType="INTEGER" property="deptid" />
    <result column="erid" jdbcType="INTEGER" property="erid" />
    <result column="isGrade" jdbcType="INTEGER" property="isgrade" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userId, userName, userPwd, userPhone, userEmail, userRole, deptid, erid, isGrade
  </sql>
   <!-- 根据dto查询一条记录 -->
  <select id="selectOneByDto" parameterType="com.danzhao.dto.UserLoginDto" resultMap="BaseResultMap">		
  	select 
  	<include refid="Base_Column_List" />
  	from d_user t 
  	where (t.userPhone=#{userAccount} or t.userEmail=#{userAccount}) and t.userrole=#{userrole,jdbcType=INTEGER}
  </select>
  <select id="selectByExample" parameterType="com.danzhao.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from d_user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d_user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.danzhao.bean.UserExample">
    delete from d_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.danzhao.bean.User">
    insert into d_user (userId, userName, userPwd, 
      userPhone, userEmail, userRole, 
      deptid, erid, isGrade
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, #{userrole,jdbcType=INTEGER}, 
      #{deptid,jdbcType=INTEGER}, #{erid,jdbcType=INTEGER}, #{isgrade,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.danzhao.bean.User">
    insert into d_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpwd != null">
        userPwd,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="useremail != null">
        userEmail,
      </if>
      <if test="userrole != null">
        userRole,
      </if>
      <if test="deptid != null">
        deptid,
      </if>
      <if test="erid != null">
        erid,
      </if>
      <if test="isgrade != null">
        isGrade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null">
        #{userrole,jdbcType=INTEGER},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="erid != null">
        #{erid,jdbcType=INTEGER},
      </if>
      <if test="isgrade != null">
        #{isgrade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.danzhao.bean.UserExample" resultType="java.lang.Long">
    select count(*) from d_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update d_user
    <set>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userpwd != null">
        userPwd = #{record.userpwd,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null">
        userPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.useremail != null">
        userEmail = #{record.useremail,jdbcType=VARCHAR},
      </if>
      <if test="record.userrole != null">
        userRole = #{record.userrole,jdbcType=INTEGER},
      </if>
      <if test="record.deptid != null">
        deptid = #{record.deptid,jdbcType=INTEGER},
      </if>
      <if test="record.erid != null">
        erid = #{record.erid,jdbcType=INTEGER},
      </if>
      <if test="record.isgrade != null">
        isGrade = #{record.isgrade,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update d_user
    set userId = #{record.userid,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      userPwd = #{record.userpwd,jdbcType=VARCHAR},
      userPhone = #{record.userphone,jdbcType=VARCHAR},
      userEmail = #{record.useremail,jdbcType=VARCHAR},
      userRole = #{record.userrole,jdbcType=INTEGER},
      deptid = #{record.deptid,jdbcType=INTEGER},
      erid = #{record.erid,jdbcType=INTEGER},
      isGrade = #{record.isgrade,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.danzhao.bean.User">
    update d_user
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null">
        userPwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="useremail != null">
        userEmail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null">
        userRole = #{userrole,jdbcType=INTEGER},
      </if>
      <if test="deptid != null">
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="erid != null">
        erid = #{erid,jdbcType=INTEGER},
      </if>
      <if test="isgrade != null">
        isGrade = #{isgrade,jdbcType=INTEGER},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danzhao.bean.User">
    update d_user
    set userName = #{username,jdbcType=VARCHAR},
      userPwd = #{userpwd,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userEmail = #{useremail,jdbcType=VARCHAR},
      userRole = #{userrole,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=INTEGER},
      erid = #{erid,jdbcType=INTEGER},
      isGrade = #{isgrade,jdbcType=INTEGER}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>